
{% macro button(endpoint, text, icon, color=" ", vis="visible") %}
<div class="col s6 m3">
    <button onClick="hit('{{ endpoint }}')"
            style="width:100%; color: rgba(255, 255, 255, 0.85); background-color:#12005e; visibility: {{ vis }};"
            class="btn-large {{ color }} waves-light">{{ text }}
            <i class="material-icons right">{{ icon }}</i>
    </button>
</div>

{% endmacro %}