{% macro tutor_fields(data) %}
    <div class="row center">
        <div class="input-field col s12">
            <textarea id="textarea1"
                      name="tutcomment"
                      class="materialize-textarea">{{ data.student.tutor_fields.tutcomment }}</textarea>
            <label class="active" for="textarea1">Tutor Comment</label>
        </div>

        <div class="input-field col s3">
            <textarea id="attendance"
                      name="attendance"
                      class="materialize-textarea">{{ data.student.tutor_fields.attendance }}</textarea>
            <label class="active" for="attendance">Overall Attendance %</label>
        </div>

        <div class="input-field col s3">
            <label class="active">Learning Progress</label>
            <select name="progress" class="browser-default">
                <option value="excellent" {% if data.student.tutor_fields.progress == 'excellent' %} selected {% endif %} >Excellent</option>
                <option value="good" {% if data.student.tutor_fields.progress == 'good' %} selected {% endif %} >Good</option>
                <option value="needs_improvement" {% if data.student.tutor_fields.progress == 'needs_improvement' %} selected {% endif %} >Needs Improvement</option>
                <option value="not_satisfactory" {% if data.student.tutor_fields.progress == 'not_satisfactory' %} selected {% endif %} >Not Satisfactory</option>
                <option value="undecided" {% if data.student.tutor_fields.progress == 'undecided' %} selected {% endif %} >Undecided</option>
            </select>
        </div>

        <div class="input-field col s3">
            <textarea id="sanctions"
                      name="sanctions"
                      class="materialize-textarea">{{ data.student.tutor_fields.sanctions }}</textarea>
            <label class="active" for="sanctions">Number of Sanctions</label>
        </div>

        <div class="input-field col s3">
            <select id="punctuality" name="punctuality" class="browser-default">
                <option value="excellent" {% if data.student.tutor_fields.punctuality == 'excellent' %} selected {% endif %} >Excellent</option>
                <option value="good" {% if data.student.tutor_fields.punctuality == 'good' %} selected {% endif %} >Good</option>
                <option value="needs_improvement" {% if data.student.tutor_fields.punctuality == 'needs_improvement' %} selected {% endif %} >Needs Improvement</option>
                <option value="not_satisfactory" {% if data.student.tutor_fields.punctuality == 'not_satisfactory' %} selected {% endif %} >Not Satisfactory</option>
                <option value="undecided" {% if data.student.tutor_fields.punctuality == 'undecided' %} selected {% endif %} >Undecided</option>
            </select>
            <label class="active" for="punctuality">Punctuality</label>
        </div>
    </div>
{% endmacro %}