{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>Create Student</h4>
    <form action="{{ url_for('create_student') }}" class="col s12" method="POST">
        <div class="row">
            <div class="input-field col s6">
                <input id="student_name" name="name" type="text" class="validate">
                <label for="student_name">Student Name</label>
            </div>
            <div class="input-field col s6">
                <input id="year" name='year' type="number" class="validate">
                <label for="year">Year</label>
            </div>
        </div>
        <a href="{{ url_for('index') }}" class="btn waves-effect waves-light">Back
            <i class="material-icons right">arrow_back</i>
        </a>
        <button class="btn waves-effect waves-light" name="action" type="submit">Create
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}