{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>Edit Student</h4>
    <form class="col s12" method="POST">
        <input type="hidden" name="id" class="active" value="{{ ID }}">
        <div class="row">
            <div class="input-field col s6">
                <input id="user_name" name="name" value="{{ NAME }}" type="text" class="validate">
                <label for="user_name">User Name</label>
            </div>
            <div class="input-field col s6">
                <input id="password" name='password' type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}