<h4>Welcome to the Kings Tirana Portal.</h4>
<div>
    <div class="row">
        <p>To get started, assign yourself courses that you teach and change performance indicators of each course by modifying the templates.</p>
        <p>Note: The back button on your browser will not behave like you would normally expect it to.</p>
    </div>
</div>