<div id="header" class="row center-align" style="display: none">
	<a href="javascript:hit('entrypoint')">
	<div class="col s12" style="background-color:#000000;">
		<h4 style="color: rgba(255, 255, 255, 0.88)">Kings Tirana Portal</h4>
	</div>
	</a>
</div>