{% extends 'base.html' %}

{% from 'macros/navigation.html' import button with context %}

{% include 'header.html' %}

{% block content %}

<div class="container center-align" id="mainContainer">

	<div class="row divider"></div>

    <div id="buttonList" class="row">

		{{ button('list_students', 'List Students', 'people') }}
		{{ button('list_courses', 'List Courses', 'school') }}

		<div class="mobileShow">
			<div class="row"></div>
		</div>
		{{ button('list_teachers', 'List Teachers', 'face', vis=ADMIN_BUTTON) }}

		<div class="col s6 m3">
    		<a href="{{ url_for('logout') }}"
				style="width:100%; color: rgba(255, 255, 255, 0.85);
				 	background-color:#12005e; visibility: {{ vis }};"
				class="btn-large red darken-1 waves-light">Log Out
				<i class="material-icons right">person_outline</i>
			</a>
		</div>
		{{ button('course_survey', 'Reports', 'file_copy', vis="hidden") }}

    </div>
	<div class="row divider"></div>
	{% include 'body.html' %}

</div>
<br>
<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}
