<div class="row center">
    <div class="col s4">
        <button onclick="hit('create_student')"
           class="btn waves-effect waves-light blue" style="visibility: {{ vis }}">Add Student
            <i class="material-icons">add</i></button>
    </div>
    <div class="col s4">
        {% if course %}
            <h5>Students</h5>
            <h6>{{ course }} Year {{ year }}</h6>
        {% else %}
            <h5>All My Students</h5>
            <h6>{{ count }} Total</h6>
        {% endif %}
    </div>
    <div class="col s4"></div>
</div>

<table class="striped centered">
    <thead class="divider">
    <tr>
        <th>/</th>
        <th>Name</th>
        <th>Year</th>
        <th># Courses In Common</th>
        <th># Total Courses</th>
        <th>Report Progress</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td><a href="{{ url_for('edit_student_info', student_name=i[0]) }}">Edit</a></td>
            <td id="student"><a href="" onclick="get_student('{{ i[0] }}'); return false;">{{ i[0] }}</a></td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>n/a</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<script src="{{url_for('static', filename='main.js')}}"></script>