<table class="striped centered highlight">
    <thead class="divider">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th># Students</th>
        <th>Teacher</th>
        <th>/</th>
        <th>Report Template</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td><a href=""
                   onclick="get_students_in_course('{{ i[0] }}', '{{ i[1] }}'); return false;">
                {{ i[0] }}</a></td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td><a href="{{ url_for('remove_from_course', course=i[0], year=i[1]) }}">remove</a></td>
            <td><a href="" onclick="view_report_template('{{ i[0] }}', '{{ i[1] }}'); return false;">Modify</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<div class="row">
    <button onClick="hit('select_courses')"
            class="btn waves-effect waves-light">Add Courses<i class="material-icons right">school</i>
    </button>
</div>