<div class="row center">
    <div class="col s4">
        <button onclick="hit('new_user_form')"
           class="btn waves-effect waves-light blue" style="visibility: {{ vis }}">Add Teacher
            <i class="material-icons">add</i></button>
    </div>
</div>
<table class="striped centered highlight">
    <thead class="divider">
    <tr>
        <th>/</th>
        <th>Teacher</th>
        <th># Courses</th>
        <th># Students</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td><a href="{{ url_for('edit_teacher_info', user_name=i[0]) }}">Edit</a></td>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>