<table class="striped centered">
    <thead class="divider">
    <tr>
        <th>Teacher</th>
        <th># Courses</th>
        <th># Students</th>
        <th>Report Progress</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td><a href="#">{{ i[0] }}</a></td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>0%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>