{% extends "index.html" %}

{% block content %}
    <div class="container" id="lform" style="display: none; width:30%;">
        <div class="center-align">
    <form action="" method="post" novalidate style="text-align: left;">
        {{ form.hidden_tag() }}
        <p id='login_username' style="display: none;">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p id='login_password' style="display: none;">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
       {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
        <p id='login_buttons' style="text-align: center; display: none;">{{ form.submit() }}</p>
    </form>
        </div>
        <p id="login_info" style="display: none; text-align: center;">Please sign in with credentials provided by admin to access Kings' reports generator.</p>
    </div>
<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}