
<div class="row center">
    <h5>It looks like you have no courses available.</h5>
    <h6>Click below to view available courses.</h6>
    <button onClick="hit('select_courses')"
            class="btn waves-effect waves-light">View Courses<i class="material-icons right">school</i>
    </button>
</div>