{% from 'macros/tutor_fields.html' import tutor_fields with context %}

<div class="row center">
   <div class="col s4">
      <p style="visibility: hidden;"><button onclick="window.history.back()" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">arrow_back</i>Go Back</button></p>
   </div>
   <div class="col s4">
      <h5>{{ data.student.name }}</h5>
   </div>
   <div class="col s4">
      <p><button onclick="submit" form="surveyform" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">arrow_forward</i>Save</button></p>
   </div>
   <br>
</div>
<form id="surveyform" action="javascript:;" onsubmit="submitSurvey()">
    <input type="hidden" name="student_name" value="{{ data.student.name }}">
   {{ tutor_fields(data) }}

    <table class="striped centered highlight">
         <thead class="divider">
            <tr>
               <th></th>
               <th>Excellent</th>
               <th>Good</th>
               <th>Satisfactory</th>
               <th>Unsatisfactory</th>
               <th>Undecided</th>
            </tr>
         </thead>
         <tbody>
            {% for objective in tutor_table_data %}
            <tr>
               <td>{{ objective }}</td>
               <td><label>
                  <input class="with-gap"
                         value="Excellent"
                         name="tutortable{{ loop.index }}"
                         type="radio" {% if data.student.tutor_fields.table[loop.index0] == 'Excellent' %} checked {% endif %}/>

                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Good"
                         name="tutortable{{ loop.index }}"
                         type="radio" {% if data.student.tutor_fields.table[loop.index0] == 'Good' %} checked {% endif %}/>
                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Satisfactory"
                         name="tutortable{{ loop.index }}"
                         type="radio" {% if data.student.tutor_fields.table[loop.index0] == 'Satisfactory' %} checked {% endif %}/>
                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Unsatisfactory"
                         name="tutortable{{ loop.index }}"
                         type="radio" {% if data.student.tutor_fields.table[loop.index0] == 'Unsatisfactory' %} checked {% endif %}/>
                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Undecided"
                         name="tutortable{{ loop.index }}"
                         type="radio" {% if data.student.tutor_fields.table[loop.index0] == 'Undecided' %} checked {% endif %} />
                  <span></span>
                  </label>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   <div class="row divider"></div>
    <div class="row divider"></div>
    <br>
   {% for course in data.student.courses %}
   <div class="row center">
      <div class="row center">
         <h5>{{ course.name }} Year {{ course.year }}</h5>
      </div>
      <div class="input-field col s6">
         <textarea id="textarea1" name="comment{{ course.name }}" class="materialize-textarea">{{ course.comment }}</textarea>
         <label class="active" for="textarea1">Comment</label>
      </div>
      <div class="input-field col s6">
         <select name="grade{{ course.name }}" class="browser-default">
            {% for i in range(4, 11) %}
               {% if i == course.grade %}
                  <option value="{{ i }}" selected>{{ i }}</option>
               {% else %}
                  <option value="{{ i }}">{{ i }}</option>
               {% endif %}
            {% endfor %}
         </select>
          <label class="active">Grade (Note: 10A* | 9A | 8B | 7C | 6D | 5E | 4F)</label>
      </div>
   </div>
      <table class="striped centered highlight">
         <thead class="divider">
            <tr>
               <th></th>
               <th>Excellent</th>
               <th>Good</th>
               <th>Satisfactory</th>
               <th>Unsatisfactory</th>
               <th>Undecided</th>
            </tr>
         </thead>
         <tbody>
            {% for objective in course.objectives %}
            <tr>
               <td>{{ objective }}</td>
               <td><label>
                  <input class="with-gap"
                         value="Excellent"
                         name="{{ course.name }}{{ loop.index }}"
                         type="radio" {% if course.answers[loop.index0] == 'Excellent' %} checked {% endif %}/>

                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Good"
                         name="{{ course.name }}{{ loop.index }}"
                         type="radio" {% if course.answers[loop.index0] == 'Good' %} checked {% endif %}/>
                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Satisfactory"
                         name="{{ course.name }}{{ loop.index }}"
                         type="radio" {% if course.answers[loop.index0] == 'Satisfactory' %} checked {% endif %}/>
                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Unsatisfactory"
                         name="{{ course.name }}{{ loop.index }}"
                         type="radio" {% if course.answers[loop.index0] == 'Unsatisfactory' %} checked {% endif %}/>
                  <span></span>
                  </label>
               </td>
               <td><label>
                  <input class="with-gap"
                         value="Undecided"
                         name="{{ course.name }}{{ loop.index }}"
                         type="radio" {% if course.answers[loop.index0] == 'Undecided' %} checked {% endif %} />
                  <span></span>
                  </label>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   <br>
   <br>
   {% endfor %}
</form>