
    <h4>Report Subjects</h4>
    <div class="row">
        <h5>{{ course }} Year {{ year }}</h5>
    </div>

    <div class="container">
        <form class="col s12 m12" id="report_template">
            {% for i in subjects %}
                <div class="input-field col s12 m12">
                  <textarea id="icon_prefix2"
                            class="materialize-textarea">{{ i }}</textarea>
                  <label class="active" for="icon_prefix2">Performance Indicator {{ loop.index }}</label>
                </div>
            {% endfor %}
        </form>
            <button onclick="submitReportTemplate('{{ course }}', '{{ year }}')"
                    class="btn waves-effect waves-light">Save
                    <i class="material-icons right">create</i>
            </button>
    </div>