{% from 'macros/navigation.html' import button with context %}

<div class="row">
    <h4>Available Courses</h4>
</div>
<div class="row"></div>

<form id="selectcoursesform" action="javascript:;" onsubmit="select_courses()">
    <div class="row">
    <button onclick="submit" class="btn-large waves-effect waves-light">Add Selected Courses
        <i class="material-icons right">send</i></button>
    </div>
    <div class="divider"></div>
{% for year in range(1,13) %}
    <div class="row">
        <h5>Year {{ year }}</h5>
        {% for course in data[year] %}
            <div class="col s4">
                <p><label><input name="{{course}}{{year}}" type="checkbox" class="filled-in" /><span>{{ course }}</span></label></p>
            </div>
        {% endfor %}
    </div>
    <div class="row divider"></div>
{% endfor %}
</form>