{% extends 'base.html' %}


{% block content %}
<script src="{{url_for('static', filename='main.js')}}"></script>
<div id="mainBody" class="container center">
<div class="row">
    <h4>Available Courses For {{ STUDENT }}</h4>
</div>
<div class="row"></div>

<form id="selectstudentcourses" action="javascript:;" onsubmit="select_student_courses('{{ STUDENT }}', {{ YEAR}} )">
    <div class="divider"></div>
    <div class="row">
        <h5>Year {{ YEAR }}</h5>
        {% for course in COURSES %}
            <div class="col s4">
                <p>
                    <label>
                        <input name="{{course}}{{YEAR}}"
                               type="checkbox"
                               class="filled-in" />
                        <span>{{ course }}</span>
                    </label>
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="row divider"></div>
    <div class="row">
        <button onclick="submit" class="btn-large waves-effect waves-light">Enroll
            <i class="material-icons right">send</i></button>
    </div>
</form>
</div>
{% endblock %}